<h3>Expense</h3>
<div class="col-md-6">
    <label for="expense_desc" class="form-label">Expense Description</label>
    <select class="form-select" id="expense_desc" name="expense_desc">
        <option value="Advertising">Advertising</option>
        <option value="Cleaning">Cleaning</option>
        <option value="HOA Fees">HOA Fees</option>
        <option value="Home Warranty">Home Warranty</option>
        <option value="Insurance">Insurance</option>
        <option value="Landscaping">Landscaping</option>
        <option value="Maintenance">Maintenance</option>
        <option value="Property Management">Property Management</option>
        <option value="Mortgage Insurance">Mortgage Insurance</option>
        <option value="Property Taxes">Property Taxes</option>
        <option value="Supplies">Supplies</option>
        <option value="Trash Removal">Trash Removal</option>
        <option value="Travel">Travel</option>
        <option value="Utilities">Utilities</option>
        <option value="City Taxes">City Taxes</option>
        <option value="Other">Other</option>
    </select>
</div>
<div class="col-md-6">
    <label for="expense_amount" class="form-label">Expense Amount</label>
    <div class="input-group">
        <span class="input-group-text">$</span>
        <input type="number" class="form-control" id="expense_amount" name="expense_amount" step=".01">
    </div>
</div>