<h3>Income</h3>
<div class="col-md-6">
    <label for="income_desc" class="form-label">Property Type</label>
    <select class="form-select" id="income_desc" name="income_desc">
        <option value="Rent">Rent</option>                
        <option value="Coin Laundry">Coin Laundry</option>
        <option value="Fitness Center">Fitness Center</option>
        <option value="Parking">Parking</option>
        <option value="Other">Other</option>
    </select>
</div>
<div class="col-md-6">
    <label for="income_amount" class="form-label">Income Amount</label>
    <div class="input-group">
        <span class="input-group-text">$</span>
        <input type="number" class="form-control" id="income_amount" name="income_amount" step=".01">
    </div>
</div>