<h4>Market Info</h4>
<div class="col-md-3">
    <label for="appreciation" class="form-label">Appreciation Percent</label>
    <div class="input-group">
        <input type="number" class="form-control" id="appreciation" name="appreciation" step=".01" value="{{propertyData.markets.0.appreciation}}">
        <span class="input-group-text">%</span>
    </div>
</div>
<div class="col-md-3">
    <label for="annual_rent_increase" class="form-label">Annual Rent Increase Percent</label>
    <div class="input-group">
        <input type="number" class="form-control" id="annual_rent_increase" name="annual_rent_increase" step=".01" value="{{propertyData.markets.0.annual_rent_increase}}">
        <span class="input-group-text">%</span>
    </div>
</div>
<div class="col-md-3">
    <label for="annual_expense_increase" class="form-label">Annual Expense Increase Percent</label>
    <div class="input-group">
        <input type="number" class="form-control" id="annual_expense_increase" name="annual_expense_increase" step=".01" value="{{propertyData.markets.0.annual_expense_increase}}">
        <span class="input-group-text">%</span>
    </div>
</div>
<div class="col-md-3">
    <label for="vacancy" class="form-label">Vacancy Percent</label>
    <div class="input-group">
        <input type="number" class="form-control" id="vacancy" name="vacancy" step=".01" value="{{propertyData.markets.0.vacancy}}">
        <span class="input-group-text">%</span>
    </div>
</div>