<h3>Mortgage</h3>
<p>Please enter a loan amount, rate, and term to calculate a payment.</p>
<div class="col-md-3">
    <label for="lender" class="form-label">Lender</label>
    <div class="input-group">
        <input type="text" class="form-control" id="lender" name="lender">
    </div>
</div>
<div class="col-md-3">
    <label for="loan_amount" class="form-label">Loan Amount</label>
    <div class="input-group">
        <span class="input-group-text">$</span>
        <input type="number" class="form-control" id="loan_amount" name="loan_amount" step=".01">
    </div>
</div>
<div class="col-md-2">
    <label for="rate" class="form-label">Rate</label>
    <div class="input-group">
        <input type="number" class="form-control" id="rate" name="rate" step=".01">
        <span class="input-group-text">%</span>
    </div>
</div>
<div class="col-md-2">
    <label for="term" class="form-label">Term (Months)</label>
    <div class="input-group">
        <input type="number" class="form-control" id="term" name="term" step=".01">
    </div>
</div>
<div class="col-md-2">
    <label for="payment" class="form-label">Payment</label>
    <div class="input-group">
        <span class="input-group-text">$</span>
        <input readonly type="number" class="form-control" id="payment" name="payment" step=".01">
    </div>
</div>