<div class="container">
    <form id="add-property" class="row g-4">
        {{> propertyinfo}}
        {{> financialinfo}}        
        {{> marketinfo}}
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>