<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Museum</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div class="h-flex">
    <header>
        <h1>PropPlanner</h1>
        <img src="./Images/LogoPlaceholder.png">
    </header>
    </div>
    <div>

        <h1>Example App: Home</h1>
        <p>if this works with the live browser</p>
    </div>



</body>