<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Museum</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

    <div class=" d-flex justify-content-center s-card">
        <div class="card text-center sign-in-card">

            <div class="card-header display-2">
                SIGN UP TO START
            </div>
            <div class="card-body">
                <a href="#" class="btn btn-primary">Sign up</a>
            </div>
        </div>
    </div>
    <div class="au-padding d-flex justify-content-center">
        <div class="card text-center" style="background-color: #ffffff;">
            <div class="card-header display-1" style="background-color: #0fbbb3;">
                About Us
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit iure mollitia
                    necessitatibus laboriosam aspernatur a, doloremque, quasi eum explicabo dolores repellat obcaecati
                    voluptatem dolorum nemo ex. Nisi soluta ea maxime.Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Velit iure mollitia
                    necessitatibus laboriosam aspernatur a, doloremque, quasi eum explicabo dolores repellat obcaecati
                    voluptatem dolorum nemo ex. Nisi soluta ea maxime.Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Velit iure mollitia
                    necessitatibus laboriosam aspernatur a, doloremque, quasi eum explicabo dolores repellat obcaecati
                    voluptatem dolorum nemo ex. Nisi soluta ea maxime.Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Velit iure mollitia
                    necessitatibus laboriosam aspernatur a, doloremque, quasi eum explicabo dolores repellat obcaecati
                    voluptatem dolorum nemo ex. Nisi soluta ea maxime.Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Velit iure mollitia
                    necessitatibus laboriosam aspernatur a, doloremque, quasi eum explicabo dolores repellat obcaecati
                    voluptatem dolorum nemo ex. Nisi soluta ea maxime.Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Velit iure mollitia
                    necessitatibus laboriosam aspernatur a, doloremque, quasi eum explicabo dolores repellat obcaecati
                    voluptatem dolorum nemo ex. Nisi soluta ea maxime.Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Velit iure mollitia
                    necessitatibus laboriosam aspernatur a, doloremque, quasi eum explicabo dolores repellat obcaecati
                    voluptatem dolorum nemo ex. Nisi soluta ea maxime.Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Velit iure mollitia
                    necessitatibus laboriosam aspernatur a, doloremque, quasi eum explicabo dolores repellat obcaecati
                    voluptatem dolorum nemo ex. Nisi soluta ea maxime.Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Velit iure mollitia
                    necessitatibus laboriosam aspernatur a, doloremque, quasi eum explicabo dolores repellat obcaecati
                    voluptatem dolorum nemo ex. Nisi soluta ea maxime.Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Velit iure mollitia
                    necessitatibus laboriosam aspernatur a, doloremque, quasi eum explicabo dolores repellat obcaecati
                    voluptatem dolorum nemo ex. Nisi soluta ea maxime.</p>

            </div>
        </div>
    </div>
    <img class="d-flex justify-content-center s-card img-bar" src="./Images/Bar-Chart-Sample1.webp">
</body>