<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Museum</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg h-flex sticky-top" style="background-color: #000000;">
        <div class="container-fluid h2-flex">
            <a class="navbar-brand" href="#">
                <img src="./Images/logo.png" alt="Bootstrap" width="30" height="24">
            </a>
            PropPlanner</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <button type="button" class="btn" data-bs-toggle="button">SIGN UP/SIGN IN</button>
            </div>
        </div>
    </nav>
    {{!-- <div class=" d-flex is-center"></div>
    <div class="card text-center sign-in-card">
        
            <div class="card-header display-2">
                SIGN UP TO START
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card-footer text-body-secondary">
                2 days ago
            </div>
        </div>
    </div> --}}
    <div class="au-padding">
        <div class="card text-center" style="background-color: #ffffff;">
            <div class="card-header display-1" style="background-color: #0fbbb3;">
                About Us
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit iure mollitia
                    necessitatibus laboriosam aspernatur a, doloremque, quasi eum explicabo dolores repellat obcaecati
                    voluptatem dolorum nemo ex. Nisi soluta ea maxime.Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Velit iure mollitia
                    necessitatibus laboriosam aspernatur a, doloremque, quasi eum explicabo dolores repellat obcaecati
                    voluptatem dolorum nemo ex. Nisi soluta ea maxime.Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Velit iure mollitia
                    necessitatibus laboriosam aspernatur a, doloremque, quasi eum explicabo dolores repellat obcaecati
                    voluptatem dolorum nemo ex. Nisi soluta ea maxime.Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Velit iure mollitia
                    necessitatibus laboriosam aspernatur a, doloremque, quasi eum explicabo dolores repellat obcaecati
                    voluptatem dolorum nemo ex. Nisi soluta ea maxime.Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Velit iure mollitia
                    necessitatibus laboriosam aspernatur a, doloremque, quasi eum explicabo dolores repellat obcaecati
                    voluptatem dolorum nemo ex. Nisi soluta ea maxime.Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Velit iure mollitia
                    necessitatibus laboriosam aspernatur a, doloremque, quasi eum explicabo dolores repellat obcaecati
                    voluptatem dolorum nemo ex. Nisi soluta ea maxime.Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Velit iure mollitia
                    necessitatibus laboriosam aspernatur a, doloremque, quasi eum explicabo dolores repellat obcaecati
                    voluptatem dolorum nemo ex. Nisi soluta ea maxime.Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Velit iure mollitia
                    necessitatibus laboriosam aspernatur a, doloremque, quasi eum explicabo dolores repellat obcaecati
                    voluptatem dolorum nemo ex. Nisi soluta ea maxime.Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Velit iure mollitia
                    necessitatibus laboriosam aspernatur a, doloremque, quasi eum explicabo dolores repellat obcaecati
                    voluptatem dolorum nemo ex. Nisi soluta ea maxime.Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Velit iure mollitia
                    necessitatibus laboriosam aspernatur a, doloremque, quasi eum explicabo dolores repellat obcaecati
                    voluptatem dolorum nemo ex. Nisi soluta ea maxime.</p>

            </div>
        </div>
        
</body>