.h-flex {
display: flex;
}
.h2-flex{
    justify-content: space-between;
}
.logo-img{
    size: auto;
}
/* .nav{
    max-height: 50px;
} */
.au-padding{
    padding: 70px;
}
.sign-in-card{
    max-width: 300px;
    display: flex;
    justify-content: center;
}