.modal-dialog {
    max-width: 90%;
  }

  .modal-dialog-small {
    max-width: 500px;
  }

  .modal-dialog-slideout {
    min-height: 100%;
    margin: 0 0 0 auto;
    background: #fff;
  }
  .modal.fade .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(100%, 0)scale(1);
    transform: translate(100%, 0)scale(1);
  }
  .modal.fade.show .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    display: flex;
    align-items: stretch;
    -webkit-box-align: stretch;
    height: 100%;
  }
  .modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body {
    overflow-y: auto;
    overflow-x: hidden;
  }
  .modal-dialog-slideout .modal-content {
    border: 0;
  }
  .modal-dialog-slideout .modal-header,
  .modal-dialog-slideout .modal-footer {
    height: 4rem;
    display: block;
  }

  input:read-only {
    background-color: rgb(194, 193, 193);
  }
.h-flex {
display: flex;
}
.h2-flex{
    justify-content: space-between;
}
.logo-img{
    size: auto;
}
/* .nav{
    max-height: 50px;
} */
.au-padding{
    padding: 70px;
}
.sign-in-card{
    max-width: 300px;
}
.s-card{
padding: 20px;
}
/* .nav-c{
  color: #ffffff;
} */
.img-bar{
  width: 100vw;
  height: 75vw;
  display: flex;
  justify-content: center;
}